---
http_interactions:
- request:
    method: get
    uri: https://www.airbnb.com/rooms/4693285/similar_listings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d320c80f806026b8c316e585b1439fdd"
      X-Hi-Human:
      - The Production Infrastructure team added this header. Come work with us! Email
        kevin.rice+hiring@airbnb.com
      Akamai-Country:
      - US
    body:
      encoding: UTF-8
      string: '{"properties":[{"lat":37.8583029055833,"lng":-122.27981256526012,"name":"Cozy
        Garden Cottage in Berkeley","url":"/rooms/4654780","id":4654780,"user":{"id":8114223,"superhost":false,"thumbnail_url":"https://a2.muscache.com/ac/users/8114223/profile_pic/1416810798/original.jpg?interpolation=lanczos-none&crop=w:w;*,*&crop=h:h;*,*&resize=68:*&output-format=jpg&output-quality=70"},"has_user":true,"has_reviews":true,"review_count":75,"address":"Berkeley","default_pic_url":"https://a2.muscache.com/airbnb/static/page3/v3/room_default_no_photos-90b75fadaf2d12ac60c0fd29a8537387.png","large_pic_url":"https://a1.muscache.com/im/pictures/64137980/e73eb3cc_original.jpg?aki_policy=large","x_medium_pic_url":"https://a1.muscache.com/im/pictures/64137980/e73eb3cc_original.jpg?aki_policy=x_medium","listing_pic_urls":["https://a1.muscache.com/im/pictures/64137980/e73eb3cc_original.jpg?aki_policy=x_medium","https://a2.muscache.com/im/pictures/64137998/0dc9947d_original.jpg?aki_policy=x_medium","https://a0.muscache.com/im/pictures/64138010/c43be0f1_original.jpg?aki_policy=x_medium","https://a1.muscache.com/im/pictures/59261490/749aa692_original.jpg?aki_policy=x_medium","https://a2.muscache.com/im/pictures/64138022/15d9abd8_original.jpg?aki_policy=x_medium","https://a1.muscache.com/im/pictures/58673558/a568e342_original.jpg?aki_policy=x_medium","https://a0.muscache.com/im/pictures/64138034/71ef3ed3_original.jpg?aki_policy=x_medium","https://a0.muscache.com/im/pictures/64138047/4daa62aa_original.jpg?aki_policy=x_medium","https://a2.muscache.com/im/pictures/64138075/605f51db_original.jpg?aki_policy=x_medium","https://a0.muscache.com/im/pictures/64138088/7db567d6_original.jpg?aki_policy=x_medium","https://a1.muscache.com/im/pictures/64138098/4efef095_original.jpg?aki_policy=x_medium","https://a0.muscache.com/im/pictures/66321187/90f54dc2_original.jpg?aki_policy=x_medium","https://a0.muscache.com/im/pictures/66321168/eaa4b358_original.jpg?aki_policy=x_medium","https://a1.muscache.com/im/pictures/64138110/3e8db53f_original.jpg?aki_policy=x_medium","https://a1.muscache.com/im/pictures/63089546/624f04a5_original.jpg?aki_policy=x_medium"],"picture_count":15,"price":85,"price_to_display":85,"currency_symbol_left":"$","should_lazy_load":false,"room_type":"Entire
        home/apt","show_photo_carousel":false,"show_wishlist_button":true,"show_reviews":false,"show_price":true,"footer_text":"Entire
        home/apt &mdash; 2.7 miles away\n","p3_link_target":"_self","show_instant_book_icon":true,"instant_book":false},{"lat":37.856275010148146,"lng":-122.26273831967481,"name":"Bamboo
        Bungalow in Berkeley","url":"/rooms/2247561","id":2247561,"user":{"id":6000730,"superhost":true,"thumbnail_url":"https://a0.muscache.com/ac/users/6000730/profile_pic/1390153744/original.jpg?interpolation=lanczos-none&crop=w:w;*,*&crop=h:h;*,*&resize=68:*&output-format=jpg&output-quality=70"},"has_user":true,"has_reviews":true,"review_count":95,"address":"Berkeley","default_pic_url":"https://a2.muscache.com/airbnb/s[...]
