---
http_interactions:
- request:
    method: get
    uri: https://www.airbnb.com/api/v1/listings/4693285?key=d306zoyjsyarp7ifhu67rjxn52tv0t20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7931f4e99fbec03431495a9551a4f7a7"
      X-Hi-Human:
      - The Production Infrastructure team added this header. Come work with us! Email
        kevin.rice+hiring@airbnb.com
      Akamai-Country:
      - US
    body:
      encoding: UTF-8
      string: '{"metadata":{},"listing":{"city":"Berkeley","collection_ids":null,"country":"United
        States","has_double_blind_reviews":false,"id":4693285,"instant_bookable":false,"lat":37.89677155862625,"lng":-122.28367356021487,"medium_url":"https://a0.muscache.com/im/pictures/79987936/90d2f5a7_original.jpg?aki_policy=medium","name":"Tranquil
        Guesthouse Retreat","native_currency":"USD","picture_url":"https://a0.muscache.com/ac/pictures/79987936/90d2f5a7_original.jpg?interpolation=lanczos-none&size=large_cover&output-format=jpg&output-quality=70","price":105,"price_formatted":"$105","price_native":105,"smart_location":"Berkeley,
        CA","thumbnail_url":"https://a0.muscache.com/ac/pictures/79987936/90d2f5a7_original.jpg?interpolation=lanczos-none&size=small&output-format=jpg&output-quality=70","user":{"user":{"about":"From
        the U.S. I have traveled to many countries and lived abroad.  I like to walk
        and explore, trying the local food and drink of new places. I have two almost
        grown children and sing jazz for fun.  I enjoy art galleries and museums,
        hearing live music, hiking in nature.  \r\n\r\nAs a host, I like to learn
        a bit about my guests and share what is special about the area.  I have lived
        in Berkeley for many years and enjoy sharing the city''s wonderful offerings
        and natural beauty of the environs with others.  I offer as much privacy as
        you wish to have and want my guests to be as comfortable as possible.  I am
        glad to offer suggestions for my favorite sites, restaurants, shops in Berkeley
        and the San Francisco Bay Area.\r\n\r\nAs a guest, I am neat and treat others''
        spaces respectfully and with care.  I am responsible and quiet.  I appreciate
        insights from locals.","first_name":"Denise","has_profile_pic":true,"id":6127976,"identity_verified":true,"is_superhost":true,"picture_url":"https://a1.muscache.com/ac/users/6127976/profile_pic/1417216211/original.jpg?interpolation=lanczos-none&crop=w:w;*,*&crop=h:h;*,*&resize=225:*&output-format=jpg&output-quality=70","reviewee_count":59,"thumbnail_url":"https://a1.muscache.com/ac/users/6127976/profile_pic/1417216211/original.jpg?interpolation=lanczos-none&crop=w:w;*,*&crop=h:h;*,*&resize=50:*&output-format=jpg&output-quality=70"}},"user_id":6127976,"xl_picture_url":"https://a0.muscache.com/ac/pictures/79987936/90d2f5a7_original.jpg?interpolation=lanczos-none&size=x_large_cover&output-format=jpg&output-quality=70","address":"Vincente
        Avenue, Berkeley, CA 94707, United States","bathrooms":1.0,"bedrooms":1,"beds":1,"cancellation_policy":"moderate","country_code":"US","has_availability":true,"listing_native_currency":"USD","market":"East
        Bay, CA","min_nights":2,"neighborhood":"Thousand Oaks","person_capacity":2,"picture_count":30,"picture_urls":["https://a0.muscache.com/ac/pictures/79987936/90d2f5a7_original.jpg?interpolation=lanczos-none&size=large_cover&output-format=jpg&output-quality=70","https://a1.muscache.com/ac/pictures/79985826/fc210706_original.jpg?interpolation=lanczos-none&size=large_cover&output-format=jpg&output-quality=70","https://a1.muscache.com/ac/pictures/79985763/b0ef2dba_original.jpg?interpolation=lanczos-none&size=large_cover&output-format=jpg&output-quality=70","https://a1.muscache.com/ac/pictures/79985890/a63ee4[...]
